.title,
.description {
  text-align: center;
}

.contents-grid {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}

.columns1,
.columns2,
.columns3 {
  border: 1px solid;
  text-align: center;
  color: #3d5f00;
  background: #a3ff00;
}

.columns2 {
  background: #cce207;
}

.columns3 {
  background: #ffae00;
}
