.title,
.description {
  text-align: center;
}

.contents-grid {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}

.firstColumn,
.secondColumn,
.thirdColumn {
  border: 1px solid;
  text-align: center;
  color: #3d5f00;
  background: #a3ff00;
}

.secondColumn {
  background: #cce207;
}

.thirdColumn {
  background: #ffae00;
}
